.container{

  padding: 1rem;
}



.btnContainer{
  display: flex;
  width: 100%;
  justify-content: end;
  padding: 1rem;
  gap: 20px;
  
}




.addBtn{
      
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  
  /* Интерактивность */
  cursor: pointer;
  box-shadow: 0 4px 6px 4px rgba(0, 0, 0, 0.1);
  
  
}
.logoutBtn {
  background-color: rgb(241, 200, 200);
}
/* Эффект при наведении курсора */
.addButton:hover {
  background-color: #14cecb; /* Немного светлее при наведении */
  color:#010d10 ;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Эффект при клике (нажатии) */
.addButton:active {
 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Стили на случай, если кнопка заблокирована (disabled) */


/* Медиа-запрос для мобильных устройств */
@media (max-width: 600px) {
  .addButton {
    height: 2rem;
    min-width:4rem; /* На мобильных кнопка растянется во всю ширину */
    padding: 2px;
    font-size: 10px;
    right: 5rem;
    top: 6rem;
     border: 1px solid #469cae;
     border-radius: 0.4rem;
    
  }
}

