
.tableContainer {
 display: flex;

  padding: 20px;
  min-width: 100vw;
  min-height: auto;
  box-sizing: border-box;
  
}
.tableHead{
 
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #ffff;
  
}



