
:root{
    interpolate-size: allow-keywords;
}

.sub-menu .sub-menu-list{
    height: 0;
    transition: height 0.3s ease-in-out;
    overflow: hidden;
    

}


.sub-menu-item {
   list-style: none; 
}
.sub-menu-active .sub-menu-list {
    height: auto;
    transition: height 0.3s ease-in-out;
  overflow: hidden;

     
    


}

